:root {
  --speed: 300ms;
  --time-function: ease-in-out;
  --vh: 1vh;
}

/*images*/
/*=======================START-MEDIA=====================*/
/*=======================END-MEDIA=====================*/
/* media breakpoint mixin */
/*--------- font-face ---------*/
@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: SourceSansPro;
  font-display: swap;
  src: url("../fonts/SourceSansPro/SourceCodePro-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-text-decoration-skip: objects;
          text-decoration-skip: objects;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  min-width: 320px;
  overflow-x: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

html, body {
  height: 100%;
}

audio,
video {
  display: block;
}

section {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a img {
  border: none;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
  border-style: none;
}

input,
textarea,
select {
  vertical-align: middle;
}

form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
  width: 100%;
}

input[type="search"],
input[type="text"],
input[type="file"],
input[type="password"],
input[type="submit"],
input[type="email"],
input[type="tel"],
textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  resize: none;
  outline: none;
}

input[type="email"] {
  box-shadow: none;
  -webkit-box-shadow: none;
}

input[type="image"] {
  padding: 0;
  border: none;
}

input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="submit"],
input[type="button"] {
  cursor: pointer;
}

input[type="submit"]:focus,
input[type="button"]:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button,
input[type=email]::-webkit-inner-spin-button,
input[type=email]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input::-moz-placeholder {
  opacity: 0.5;
  color: inherit;
}

input::placeholder, input::-moz-placeholde, input::-webkit-input-placeholder {
  opacity: 0.5;
  color: inherit;
}

button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

p, span, label, h1, h2, h3, h4, h5, h6, b, strong, i, em {
  max-width: 100%;
  word-wrap: break-word;
  white-space: normal;
  margin: 0;
}

div {
  word-wrap: break-word;
  white-space: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

iframe {
  border: none;
}

input::-ms-clear {
  display: none;
}

button,
input,
optgroup,
select,
textarea,
pre {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  background-position: top center;
  background-size: cover;
  color: #000;
}

span, a, p, strong, em, b,
h1, h2, h3, h4, h4, h6, .h1-title, .h2-title, .h3-title, .h4-title, .h5-title, .h6-title {
  line-height: 1.5;
}

a {
  color: inherit;
}

.container {
  max-width: 1288px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}

*:focus, *:focus-visible {
  outline: none !important;
}

h1, h2, h3, h4, h4, h6, .h1-title, .h2-title, .h3-title, .h4-title, .h5-title, .h6-title {
  display: block;
  font-weight: 700;
}

h1, .h1-title {
  font-size: 32px;
}

@media only screen and (min-width: 1200px) {
  h1, .h1-title {
    font-size: 60px;
  }
}

h2, .h2-title {
  font-size: 16px;
  font-weight: 600;
}

@media only screen and (min-width: 1200px) {
  h2, .h2-title {
    font-size: 32px;
  }
}

h3, .h3-title {
  font-size: 14px;
  font-weight: 500;
}

@media only screen and (min-width: 1200px) {
  h3, .h3-title {
    font-size: 24px;
  }
}

h4, .h4-title {
  font-size: 10px;
}

@media only screen and (min-width: 1200px) {
  h4, .h4-title {
    font-size: 20px;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.btn-full-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="password"] {
  padding: 12px 24px;
  border: 1px solid #000;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  width: 230px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  font-size: 14px;
  border-radius: 5px;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus {
  border-color: #09B451;
}

.hidden {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.disable {
  pointer-events: none !important;
}

.link {
  color: #333;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

@media (any-hover: hover) {
  .link:hover {
    color: #09B451;
  }
}

@media only screen and (max-width: 1200px) {
  .heading {
    max-width: 225px;
  }
}

.lock {
  overflow: hidden;
}

.icon {
  fill: currentColor;
}

.icon--stroke {
  stroke: currentColor;
  fill: transparent;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #09B451;
  padding: 20px 42px;
  font-family: 'SourceSansPro', sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  border-radius: 5px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.btn__small {
  padding: 12px 24px;
}

.btn, .btn:focus {
  border: 1px solid #09B451;
}

@media (any-hover: hover) {
  .btn:hover {
    background: transparent;
    color: #000;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item a {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

@media (any-hover: hover) {
  .menu-item a:hover {
    color: #09B451;
  }
}

.form__row {
  margin-bottom: 10px;
  position: relative;
}

.form__row input {
  width: 100%;
}

.form__btn {
  margin-top: 20px;
  width: 100%;
}

.form__btn-hide {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header {
  padding: 36px 0px;
}

@media only screen and (min-width: 1200px) {
  .header {
    padding: 30px 0px;
  }
}

@media only screen and (max-width: 1200px) {
  .header {
    -webkit-box-shadow: 0 4px 8px 0 rgba(200, 200, 200, 0.25);
            box-shadow: 0 4px 8px 0 rgba(200, 200, 200, 0.25);
  }
}

.header__burger {
  width: 22px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 9998;
}

@media only screen and (min-width: 1200px) {
  .header__burger {
    display: none;
  }
}

.header__burger span, .header__burger:before, .header__burger:after {
  width: 100%;
  height: 2px;
  background: currentColor;
  border-radius: 10px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.header__burger:before, .header__burger:after {
  content: '';
  position: absolute;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

.header__burger:before {
  top: 0px;
}

.header__burger:after {
  bottom: 0px;
}

.header__burger--active span {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

.header__burger--active:before {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.header__burger--active:after {
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(45deg);
      -ms-transform: translate(-50%, 50%) rotate(45deg);
          transform: translate(-50%, 50%) rotate(45deg);
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

@media only screen and (min-width: 1200px) {
  .header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 130px;
  }
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

@media only screen and (max-width: 1200px) {
  .header__menu .menu {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
            transform-origin: left top;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    background: white;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    padding: 40px 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 9997;
  }
  .header__menu .menu--open {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}

@media only screen and (min-width: 1200px) {
  .header__menu .menu {
    padding: 0px 18px;
    gap: 45px;
  }
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

@media only screen and (max-width: 1200px) {
  .header__search {
    display: none;
  }
}

.header__sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.header__sign-up-desktop {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .header__sign-up-desktop {
    display: block;
  }
}

.header__sign-up-mobile {
  display: block;
}

@media only screen and (min-width: 1200px) {
  .header__sign-up-mobile {
    display: none;
  }
}

.header__button {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 600;
  font-family: 'SourceSansPro', sans-serif;
  color: #09B451;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

@media (any-hover: hover) {
  .header__button:hover {
    border-color: #09B451;
  }
}

.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.modal--open {
  opacity: 1;
  visibility: visible;
}

.modal__inner {
  padding: 40px;
  background: #fff;
  max-width: 380px;
  position: relative;
  width: 100%;
}

.modal__title {
  margin-bottom: 20px;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .modal__title {
    font-size: 20px;
  }
}

.modal__close {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 10px;
  right: 10px;
}

.modal__close:before, .modal__close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 2px;
  width: 100%;
  background: currentColor;
  border-radius: 10px;
}

.modal__close:before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.modal__close:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

/*# sourceMappingURL=common.css.map */
