{% import "components/menu.njk" as macros %}
{% set menu = macros.menu %}
{% set menuData = ['Home', 'Courses', 'Instuctors', 'Schedules', 'Contact Us'] %}

<header class="header">
    <div class="container">
        <div class="header__row">
            <nav class="header__left">
                <a href="#">
                    <img src="./images/logo.svg" width="132" height="41" alt="Logo">
                </a>
                <div class="header__menu">
                    <button data-burger="btn" class="header__burger btn-full-reset" type="button">
                        <span></span>
                    </button>
                    <ul data-burger="menu" class="menu">
                        {% for menuItem in menuData %}
                            <li class="menu-item">
                                <a href="#">{{ menuItem }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
            <div class="header__right">
                <div class="header__search">
                    <svg class="icon" width="24" height="24">
                        <use href="./sprite/sprite.svg#search"></use>
                    </svg>
                </div>
                <ul class="header__sign-up">
                    <li class="header__sign-up-desktop">
                        <button data-modal-registration="btn" class="btn-full-reset header__button btn__small" type="button" href="#">Login</button>
                    </li>
                    <li class="header__sign-up-desktop">
                        <button data-modal-registration="btn" class="btn-full-reset btn btn__small" type="button">Register</button>
                    </li>
                    <li class="header__sign-up-mobile">
                        <button type="button" data-modal-registration="btn" class="btn-full-reset">
                            <svg width="32" height="32">
                                <use href="./sprite/sprite.svg#avatar"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</header>