<div class="modal" data-modal-registration="modal">
    <div class="modal__inner">
        <button data-modal-registration="modal-close" type="button" class="btn-full-reset modal__close">
        </button>
        <b class="modal__title h4-title">Login</b>
        <form class="form">
            <div class="form__row">
                <input type="text" placeholder="Name">
            </div>
            <div class="form__row">
                <input type="email" placeholder="Email">
            </div>
            <div class="form__row form__row--password">
                <input data-password="input" type="password" placeholder="Phone">
                <button class="form__btn-hide btn-full-reset" data-password="btn" type="button">Show/Hide</button>
            </div>
            <button class="form__btn btn btn__small" type="submit">Send</button>
        </form>
    </div>
</div>