// Colors
$light: #fff;
$dark: #000;
$dark-light: #333;
$primary: #09B451;
$accent: #DDFFFF;
$decor-color: #d5dcd8;
$card: #E4FFFF;

$speed: 300ms;
$time-function: ease-in-out;

$desktop: 1200;
$small-tablet: 576;

:root {
  --speed: #{$speed};
  --time-function: #{$time-function};
  --vh: 1vh;
}

//layout
$padding: 24px;
$desktop-width: 1240px;
$site-container: $desktop-width + ($padding * 2);

