<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no"/>
  <title>{{ title }}</title>
  <link rel="preload" href="/fonts/Montserrat/Montserrat-Regular.woff" as="font" type="font/woff" crossorigin="">
  {% for style in stylesVendor %}
    <link rel="stylesheet" type="text/css" href="./css/vendors/{{ style }}.min.css">
  {% endfor %}
  <link rel="stylesheet" type="text/css" href="./css/common.min.css">
  {% for stylePage in stylesPage %}
    <script src="js/{{ stylePage }}.min.css"></script>
  {% endfor %}
</head>
<body>
{% set data = 'html/data/data.json' %}
{% block content %}
{% endblock %}

{% for script in scriptsVendor %}
  <script src="js/{{ script }}.min.js"></script>
{% endfor %}
{% for script in scripts %}
  <script src="js/{{ script }}.min.js"></script>
{% endfor %}
<script src="js/common.min.js"></script>
<!-- navigation js -->
<script src="js/navigation.min.js"></script>
</body>
</html>