body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  background-color: $light;
  background-position: top center;
  background-size: cover;
  color: $dark;
}

span, a, p, strong, em, b,
h1, h2, h3, h4, h4, h6, .h1-title, .h2-title, .h3-title, .h4-title, .h5-title, .h6-title {
  line-height: 1.5;
}

a {
  color: inherit;
}

.container {
  max-width: $site-container;
  width: 100%;
  padding-left: $padding;
  padding-right: $padding;
  margin-left: auto;
  margin-right: auto;
}

*:focus, *:focus-visible {
  outline: none !important;
}

h1, h2, h3, h4, h4, h6, .h1-title, .h2-title, .h3-title, .h4-title, .h5-title, .h6-title {
  display: block;
  font-weight: 700;
}

h1, .h1-title {
  font-size: 32px;

  @include min-media($desktop) {
    font-size: 60px;
  }

}

h2, .h2-title {
  font-size: 16px;
  font-weight: 600;

  @include min-media($desktop) {
    font-size: 32px;
  }
}

h3, .h3-title {
  font-size: 14px;
  font-weight: 500;

  @include min-media($desktop) {
    font-size: 24px;
  }
}

h4, .h4-title {
  font-size: 10px;

  @include min-media($desktop) {
    font-size: 20px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  flex: 1 0 auto;
}

.btn-full-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="password"]{
  padding: 12px 24px;
  border: 1px solid $dark;
  box-shadow: none;
  outline: none;
  width: 230px;
  @include transition;
  font-size: 14px;
  border-radius: 5px;

  &:focus {
    border-color: $primary;
  }
}

.hidden {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.disable {
  pointer-events: none !important;
}

.link {
  color: $dark-light;
  @include transition;

  @include hover {
    color: $primary;
  }
}

.heading {
  @include media($desktop) {
    max-width: 225px;
  }
}

.lock {
  overflow: hidden;
}